version: '3.9'  # 3.9 is the current stable Compose spec version

volumes:
  pg_data:
  static:
  media:
  static_frontend:

services:
  db:
    image: postgres:14.11
    restart: always
    # For other cases # env_file: ../.env
    # For CI/CD
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    # Introduced recently
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER}" ]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    # image: foodgram_backend  # if pre-built locally with a name you chose
    image: kirkoov/foodgram_backend
    restart: always
    # For other cases # env_file: ../.env
    # For CI/CD
    env_file: .env
    volumes:
      - static:/app/static_django/
      - media:/app/media/
    depends_on:
    #  - db  was previously, before the following healthcheck
      db:
        condition: service_healthy

  frontend:
    # image: foodgram_frontend  # if pre-built locally with a name you chose
    image: kirkoov/foodgram_frontend
    restart: always
    volumes:
      - static_frontend:/app/result_build/

  nginx:
    image: nginx:1.22.1
    restart: always
    ports:
      # Live server
      - "8090:80"
      # Local Docker dev
      # - "80:80"
    volumes:
      # Make sure you've scp'ed ./nginx.conf to the same loc as this yaml file
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static:/static_django/
      - media:/media/
      # For other cases # env_file: ../docs/:/usr/share/nginx/html/api/docs/
      # For CI/CD
      - ./docs/:/usr/share/nginx/html/api/docs/
      - static_frontend:/static_frontend/
    depends_on:
      - backend
